// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: purple;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

.rep-content-container {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.15), 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto Slab', serif;;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.75rem;
}

h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.25rem;
}
