// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #CCCBFD;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

.rep-content-container {
  border-radius: 10px;
  background-color: white;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #FFFAF6;
}

h1 {
  font-family: 'Ultra', serif;
  font-size: 4.65rem;
}

h2 {
  font-family: 'Ultra', serif;
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-family: 'Ultra', serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.card {
  border: none;
}

.custom-nav .custom-link {
  border: none;
  background-color: transparent;
  color: grey;
  padding: .75rem;
  text-align: left;
}

.custom-nav .custom-link.active {
  color: black;
}

.custom-input {
  border-radius: 0 !important;
  border: none !important;
  background-color: #EBEBEB;
  color: black !important;
}

.custom-input:focus {
  background-color: #EBEBEB !important; /* Ensure the background color stays the same */
  outline: none !important; /* Optional: Removes the outline. Consider accessibility! */
}

.custom-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.custom-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

.custom-input::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

.square-edge {
  border-radius: 0 !important;
}

.content-container {
  max-width: 70rem;
}
