// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

$primary: #CCCBFD;
$secondary: #D9FE96;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Ultra', serif;
  font-size: 4.5rem;
}

@media (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-family: 'Ultra', serif;
  font-size: 3rem;
}

h3 {
  font-family: 'Ultra', serif;
  font-size: 2.25rem;
}

h4 {
  font-family: 'Ultra', serif;
  font-size: 2rem;
}

h5 {
  font-family: 'Ultra', serif;
  font-size: 1.25rem;
}

.card {
  border: none;
}

.custom-nav .custom-link {
  border: none;
  background-color: transparent;
  color: grey;
  padding: .75rem;
  text-align: left;
}

.custom-nav .custom-link.active {
  color: black;
}

.custom-input {
  border-radius: 6px !important;
  border: 1px solid black !important;
  color: black !important;
}

.custom-input:focus {
  outline: none !important;
}

.custom-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.custom-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

.custom-input::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

.content-container {
  max-width: 71rem;
}

.custom-link {
  display: block;
  border-radius: 0 !important;
  border: none !important;
  color: black !important;
  text-align: left;
  transition: background-color 0.3s;
  line-height: 1.07rem;
}

.custom-link.active {
  background-color: #CCCBFD !important;
  border-radius: 6px !important;

}

.cursor-pointer {
  cursor: pointer !important;
}

a {
  color: black;
}

.larger-text {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.medium-text {
  font-size: 1rem;
  line-height: 1.25em;
}

table th,
table td {
  border-bottom: 1px solid black;
}

th {
  font-weight: 400;
  white-space: nowrap;
}

.vh-95 {
  height: 95vh !important;
}
